.content-geracao {
  .content-desc {
    &__title {
      font-family: 'cocogooseregular', Arial, Helvetica, sans-serif;
      text-align: center;
      display: flex;
      font-size: 5rem;
    }
    &__cta {
      line-height: 1;
      font-weight: bold;
      max-width: 140px; 
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      flex-direction: column;
      margin-bottom: -4rem;
      p {
        margin: 0;
      }
    }

    &__text {
      justify-content: flex-start;
    }
  }
  
  &__text {
    max-width: 280px;
    margin-left: 8rem;
  }

}