.content-geracao {
  .content-desc {
    &__title {
      font-family: 'cocogooseregular', Arial, Helvetica, sans-serif;
      text-align: center;
      display: flex;
      justify-content: center;
      font-size: 5rem;
      h2 {
        @media screen and (max-width: $tablet-screen) {
          font-size: 5rem;
        }
      }
    }
    &__cta {
      line-height: 1;
      font-weight: bold;
      max-width: 140px; 
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      flex-direction: column;
      margin-bottom: -4rem;
      @media screen and (max-width: $tablet-screen) {
        margin-bottom: 0;
        max-width: 100%;
        flex-direction: row;
      }
      p {
        margin: 0;
      }
    }

    &__text {
      justify-content: flex-start;
      @media screen and (max-width: $tablet-screen) {
        flex-direction: column-reverse;
      }
    }
  }
  
  &__text {
    max-width: 280px;
    margin-left: 8rem;
    @media screen and (max-width: $tablet-screen) {
      margin-left: 0;
    }
  }

}