header {
  min-height: 100vh;
  padding: 5rem 0;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $tablet-screen) {
      flex-direction: column;
    }
    img {
      max-height: 370px;
      margin-left: 4rem;
      margin-top: 5rem;
      &:first-child {
        @media screen and (max-width: $tablet-screen) {
          width: 70%;
          max-width: 340px;
          margin-left: 0;
        }
      }
      &:last-child {
        @media screen and (max-width: $tablet-screen) {
          position: relative;
          top: -8rem;
          max-width: 10rem;
          margin-bottom: -7rem;
          margin-top: 8rem;
          margin-left: 2rem;
        }
      }
    }
    
  }
}
 

.header-footer {
  text-transform: uppercase;
  padding: 0 7rem;
  max-width: 450px;
  margin-top: -10rem;
  font-size: 1.2rem;
  line-height: 1.4;
 
  @media screen and (max-width: $tablet-screen) {
    text-align: center;
    margin: 0 auto;
  }

  &__social-caixa {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__social-media {
    display: flex;
    @media screen and (max-width: $tablet-screen) {
      justify-content: center;
      margin-top: 3rem;
    }
  }

  &__social-link {
    border: 1px solid black;
    padding: .5rem;
    border-radius: 5rem;
    margin-right: 10px;
  }

  &__social-link img {
    max-width: 15px;
  }
 
  a {
    font-size: inherit;
  }
}
