.content-relacoes {
  &__title {
    font-family: 'de_valenciaregular', Arial, Helvetica, sans-serif;
    font-size: 7rem;
    @media screen and (max-width: $tablet-screen) {
      font-size: 6rem;
    }
  }
  .content-desc {
    &__text {
      // justify-content: center;
      // margin: 3rem 0;
      margin-top: 5rem;
      p { 
        max-width: 340px;
        // text-align: center;
      }
    }
     
    &__title {
      display: flex;
      justify-content: flex-start;
      @media screen and (max-width: $tablet-screen) {
        justify-content: center;
        flex-direction: column;
      }
      h2 {
        @media screen and (max-width: $medium-screen) {
          margin-right: 4rem;
        }
        @media screen and (max-width: $tablet-screen) {
          margin-bottom: 1rem;
          margin-left: 0;
        }
      }
      &-dois {
        padding-left: 12rem;
      }
    }
 
    &__cta {
      max-width: 140px; 
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      flex-direction: column;
      @media screen and (max-width: $tablet-screen) {
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
      }
    }
  }

}