@font-face {
  font-family: 'cocogooseregular';
  src: url('cocogoose_trial-webfont.woff2') format('woff2'),
       url('cocogoose_trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'de_valenciaregular';
  src: url('de_valencia_beta-webfont.woff2') format('woff2'),
       url('de_valencia_beta-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} 
 
@import './base/variables';
@import './base/base';
@import './sections/header';
@import './sections/layout';
@import './sections/sections';
@import './sections/espiral';
@import './sections/relacoes';
@import './sections/geracoes.scss'