* {
  box-sizing: border-box;
} 

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.img-responsive {
  width: 100%;
}

.display-mobile {
  display: none;
  @media screen and (max-width: $tablet-screen) {
    display: block;
  }
}

.display-desktop {
  display: block;
  @media screen and (max-width: $tablet-screen) {
    display: none;
  }
}

.content-desc {
  &__title {
    margin-left: -10rem;
  }
  @media screen and (max-width: $medium-screen) {
    margin-left: 0rem;
  }
  @media screen and (max-width: $portrait-screen) {
    margin-left: 0;
  }
}