/* COLORS */
$dark-color: #F2B134;
$orange-color: #54BAA0;
$green-color: #DE9AAE;
$pink-color: #25A966;


/* BREAKPOINTS */
$desktop-screen: 1920px;
$medium-screen: 1300px;
$tablet-screen: 1024px;
$portrait-screen: 768px;
$mobile-screen: 420px;