/* COLORS */
$dark-color: #4e4845;
$orange-color: #eb5916;
$green-color: #19aa64;
$pink-color: #e099ae;


/* BREAKPOINTS */
$desktop-screen: 1920px;
$tablet-screen: 1024px;
$portrait-screen: 768px;
$mobile-screen: 420px;